{% extends 'profile/profilebase.html' %}
{% load staticfiles %}
{% block people-active %}"active"{% endblock %}
{% block content %}
<style media="screen">
  .bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
  }
</style>
<div class="bg" style="background-image:url({% static 'images/intbg.jpg' %})"></div>

<div class="container container-people">
  <br>
  <h1 style="color:white;text-align:center">{{message}}</h1>
  <br>
  {% for user in user_following %}
  <div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-3 img" >
              <img src="{{user.profile_pic.url}}" alt="">
          </div>
          <div class="col-xs-5 name">
            <a href="{% url 'profile:userprofileview' user_name=user.user.username %}">{{user.user.first_name}}&nbsp;{{user.user.last_name}}</a>
          </div>
          <div class="col-xs-4">
            {% if user in i_am_following %}
            <button class="btn btn-danger f-btn" data-id={{user.id}}><span class="glyphicon glyphicon-remove-sign"></span>&nbsp; Unfollow</button>
            {% else %}
            <button class="btn btn-primary f-btn" data-id={{user.id}}><span class="glyphicon glyphicon-ok-sign"></span>&nbsp; Follow</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
